.MuiDataGrid-main > div:last-child {
  display: none;
}

.MuiDateRangeCalendar-root > div:first-child {
  display: none;
}

/* .MuiDataGrid-sortIcon {
  fill: white;
  color: white;
}

.MuiDataGrid-menuIcon .MuiSvgIcon-root {
  fill: white;
  color: white;
} */


table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}